body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  text-align: justify;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 30%
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  /* Add a black background color to the top navigation */
.topnav {
	background-color: #d88922;
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: verdana;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #1b1d1b;
	color: white;
  }